.phoneColor {
  width: 24px;
  height: 24px;
  border-radius: 32px;
}
.blackPhone {
  background: #14161f;
}
.bluePhone {
  background: #798fff;
}
.greenPhone {
  background: #27ae60;
}
.purplePhone {
  background: #9b51e0;
}
.whitePhone {
  background: #fff;
  border: 1px solid #ebecf2;
}
.color_filter_container {
  display: flex;
  flex-direction: column;
}
.button_color_container {
  display: flex;
  padding: 8px;
  align-items: center;
}
.button_color_container div {
  margin-left: 12px;
}
